@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);

body {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    /*background-image: url("../img/temp.png");*/
    background-image: url("../img/bg.png");
    text-align: center;
    color: whitesmoke;
}
nav {
	position: fixed;
	width: 100%;
	z-index: 2;
	font-size: 16px;
	text-decoration: none;
	font-variant: small-caps;
    background-color: white;
}

li a {
	color: black;
}

a:hover {
	color: #1abc9c;
	text-decoration: none;
}
a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: whitesmoke;
    text-decoration: none;
    text-shadow: 2px 2px #1abc9c;
}

/* selected link */
a:active {
    color: white;
}
a.nav {
    color: #1abc9c;
}

h1 {
    text-shadow: black 2px 2px;
}

h4 {
    color: black;
}
.jumbotron {
    padding-top: 100px;
	width: 100%;
    z-index: 1;
    background-image: url("../img/danceFloor.jpg");
    border-bottom: solid whitesmoke 5px;
}
.jumbotron > h1 > small {
    color: whitesmoke;
}
div.dance {
    height: 220px;
    border: groove 2px whitesmoke;
    background-repeat: no-repeat;
}
div.dance > h1 {
    text-shadow: black 2px 2px;
}
div.hip {
    background-image: url("../img/hiphop.gif");
    background-width : 100%;
}
div.break {
    background-image: url("../img/breaking.gif");
}
div.swing {
    background-image: url("../img/swing.gif");
}

#trending, #explore, #categories {
    padding-top: 50px;
}

@media screen and (max-width: 992px) {
    div.dance {
        background-image: none;
        background-color: rgba(192,192,192,0.1);
        border: none;
        border-radius: 5px;
    }
    div.dance > h1 {
        vertical-align: middle;
    }
    .invisible {
        visibility: visible;
        height: 165px;
        border-radius: 5px;
    }
}

@media screen and (max-width: 768px) {
    .jumbotron {
        display: none;
    }
    #trending, #explore, #categories {
        padding-top: 200px;
    }    
}