@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);

body {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    color: whitesmoke;
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
    font-family: 'Nixie One', cursive;

}
h1,h2,h3,h4 {
    margin: 20px 0 20px 0;
    color: #ffffff;
    /*Glow*/
    text-shadow: 0 0 10px #ffffff,
    0 0 20px #ffffff,
    0 0 30px #ffffff,
    0 0 40px #228DFF,
    0 0 70px #228DFF,
    0 0 80px #228DFF,
    0 0 100px #228DFF,
    0 0 150px #228DFF;
}
nav.navbar {
	position: fixed;
	width: 100%;
	z-index: 2;
	font-size: 16px;
	text-decoration: none;
	font-variant: small-caps;
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
    visibility: visible;

}
div#mobile-only {
    visibility: hidden;
    display: none;
}
div.jumbotitle {
    background-color: rgba(192,192,192,0.8);
}
a {
    color: whitesmoke;
}
div.backlink {
    text-align: left;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
li {
    display: inline;
    text-shadow: 0 0 10px #ffffff,
    0 0 20px #ffffff,
    0 0 30px #ffffff,
    0 0 40px #228DFF,
    0 0 70px #228DFF,
    0 0 80px #228DFF,
    0 0 100px #228DFF,
    0 0 150px #228DFF;
}
input.search {
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
    visibility: visible;
}
a:hover {
    color: deeppink;
	text-decoration: none;
    /*Glow*/
    text-shadow: 0 0 1px #ffffff,
    0 0 20px  #ffffff,
    0 0 30px  #ffffff,
    0 0 40px  #228DFF,
    0 0 70px  #228DFF,
    0 0 80px  #228DFF,
    0 0 100px #228DFF,
    0 0 150px #228DFF;
}
a:link {
    color: white;
    text-decoration: none;
    /*Glow*/
    text-shadow: 0 0 1px #ffffff,
    0 0 20px  #ffffff,
    0 0 30px  #ffffff,
    0 0 40px  #228DFF,
    0 0 70px  #228DFF,
    0 0 80px  #228DFF,
    0 0 100px #228DFF,
    0 0 150px #228DFF;
}

/* visited link */
a:visited {
    color: white;
    text-decoration: none;
    /*Glow*/
    text-shadow: 0 0 1px #ffffff,
    0 0 20px  #ffffff,
    0 0 30px  #ffffff,
    0 0 40px  #228DFF,
    0 0 70px  #228DFF,
    0 0 80px  #228DFF,
    0 0 100px #228DFF,
    0 0 150px #228DFF;
}

/* mouse over link */


/* selected link */
a:active {
    color: deeppink;
}
a.nav {
    color: whitesmoke;
    text-shadow: deeppink;
}
a:hover {
    color: deeppink;
    text-shadow: whitesmoke;
}
a.nav:active {
    color: deeppink;
}
div#mobile-only > a:link {
    color: whitesmoke;
}
div#mobile-only > a:active {
    color: whitesmoke;
}
div#mobile-only > a:visited {
    color: whitesmoke;
}
div#mobile-only > a:link {
    color: whitesmoke;
}
img.dance {
    height: 165px;
    border-radius: 5px;
    height: 175px;
    -moz-box-shadow: 0 0 10px #fff;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0px 0px 10px deeppink;
}

.jumbotron {
    padding-top: 100px;
	width: 100%;
    z-index: 1;
    background-image: url("../img/jumbotronbg.png");
    border-bottom: groove deeppink 5px;
    color: deeppink;
}

/*Webkit prefix*/
@-webkit-keyframes neonAnimation {
    from {
        text-shadow: 0 0 10px #ffffff,
        0 0 20px  #ffffff,
        0 0 30px  #ffffff,
        0 0 40px  #228DFF,
        0 0 70px  #228DFF,
        0 0 80px  #228DFF,
        0 0 100px #228DFF,
        0 0 150px #228DFF;
    }
    to {
        text-shadow: 0 0 5px #ffffff,
        0 0 10px #ffffff,
        0 0 15px #ffffff,
        0 0 20px #228DFF,
        0 0 35px #228DFF,
        0 0 40px #228DFF,
        0 0 50px #228DFF,
        0 0 75px #228DFF;
    }
}


/*Moz prefix*/
@-moz-keyframes neonAnimation {
    from {
        text-shadow: 0 0 10px #ffffff,
        0 0 20px  #ffffff,
        0 0 30px  #ffffff,
        0 0 40px  #228DFF,
        0 0 70px  #228DFF,
        0 0 80px  #228DFF,
        0 0 100px #228DFF,
        0 0 150px #228DFF;
    }
    to {
        text-shadow: 0 0 5px #ffffff,
        0 0 10px #ffffff,
        0 0 15px #ffffff,
        0 0 20px #228DFF,
        0 0 35px #228DFF,
        0 0 40px #228DFF,
        0 0 50px #228DFF,
        0 0 75px #228DFF;
    }
}

/*No prefix*/
@keyframes neonAnimation {
    from {
        text-shadow: 0 0 10px #ffffff,
        0 0 20px  #ffffff,
        0 0 30px  #ffffff,
        0 0 40px  #228DFF,
        0 0 70px  #228DFF,
        0 0 80px  #228DFF,
        0 0 100px #228DFF,
        0 0 150px #228DFF;
    }
    to {
        text-shadow: 0 0 5px #ffffff,
        0 0 10px #ffffff,
        0 0 15px #ffffff,
        0 0 20px #228DFF,
        0 0 35px #228DFF,
        0 0 40px #228DFF,
        0 0 50px #228DFF,
        0 0 75px #228DFF;
    }
}
.jumbotron > h1 > small {
    color: darkturquoise;
    margin:20px 0 20px 0;
    color:#ffffff;
    /*Glow*/
    text-shadow: 0 0 10px #ffffff,
    0 0 20px  #ffffff,
    0 0 30px  #ffffff,
    0 0 40px  #228DFF,
    0 0 70px  #228DFF,
    0 0 80px  #228DFF,
    0 0 100px #228DFF,
    0 0 150px #228DFF;
}
div.dance {

}

#trending, #explore {
    padding-top: 50px;
}

@media screen and (max-width: 992px) {
    youtube-video {
        player-width: 75%;
    }

    nav.navbar {
        visibility: hidden;
    }
    div#mobile-only {
        visibility: visible;
        display: inline;
    }
    div.dance {
        background-image: none;
        border: none;
        border-radius: 5px;
    }
    div.dance > h1 {
        vertical-align: middle;

    }
    div.dance {
        border: none;
        box-shadow: none;
    }
    img.gif {
        width: 75%;
    }
}

@media screen and (max-width: 768px) {
    youtube-video {
        width: 75%
    }
    nav.navbar {
        visibility: hidden;
    }
    div#mobile-only {
        visibility: visible;
        display: inline;
    }
    .jumbotron {
        display: none;
    }
    #trending, #explore {
        padding-top: 200px;
    }
    div.dance {
        border: none;
        box-shadow: none;
    }
}

img.gif {
    border: solid 2px deeppink;
    border-radius: 5px;
}
footer {
    padding: 15px;
    text-align: right;
    border-top: groove 2px deeppink;
}
img.footer {
    right-margin: 5px;
    box-shawdow: 0 2 10px #ffffff,
    0 2 20px  #ffffff,
    0 2 30px  #ffffff,
    0 2 40px  #228DFF,
    0 2 70px  #228DFF,
    0 2 80px  #228DFF,
    0 2 100px #228DFF,
    0 2 150px #228DFF;
    height: 40px;
}
