@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);

body {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    /*background-image: url("../img/temp.png");*/
    background-image: url("../img/bg.png");
    text-align: center;
    color: whitesmoke;
}
h1 {
    text-shadow: black 2px 2px;
}
.jumbotron {
    background-image: url("../img/danceFloor.jpg");
    border-bottom: solid whitesmoke 5px;
}
.jumbotron > h1 > small {
    color: whitesmoke;
}
div.dance {
    height: 220px;
    border: double 2px black;
    background-repeat: no-repeat;
}
div.dance > h1 {
    text-shadow: black 2px 2px;
}
div.hip {
    background-image: url("../img/hip-hop.gif");
    background-width : 100%;
}
div.break {
    background-image: url("../img/break.gif");
}
div.swing {
    background-image: url("../img/swing.gif");
}

@media screen and (max-width: 992px) {
    div.dance {
        background-image: none;
        background-color: rgba(192,192,192,0.3);
        border: none;
        border-radius: 5px;
    }
    div.dance > h1 {
        vertical-align: middle;
    }
    .invisible {
        visibility: visible;
        height: 165px;
        border-radius: 5px;
    }
}