<a name="categories"></a>
<h1>Categories</h1>
<br>
<div class="container">
	<div id="items">
		<div class="row">
			<div class="col-sm-4">
					<div id="popular">
							<img src="img/popular.gif"><p>Popular</p>
					</div>
			</div>
			<div class="col-sm-4">
					<div id="breaking">
							<img src="img/breaking.gif"><p>Breaking</p>
					</div>
			</div>
			<div class="col-sm-4">
					<div id="choreography">
							<img src="img/choreography.gif"><p>Choreography</p>
					</div>
			</div>
			<div class="col-sm-4">
					<div id="hiphop">
							<img src="img/hiphop.gif"><p>Hip-Hop</p>
					</div>
			</div>
			<div class="col-sm-4">
					<div id="salsa">
							<img src="img/salsa.gif"><p>Salsa</p>
					</div>
			</div>
			<div class="col-sm-4">
					<div id="swing">
							<img src="img/swing.gif"><p>Swing</p>
					</div>
			</div>
		</div>
	</div>
</div>