<div id="category">
    <h1>Categories</h1>
    <br>
    <div class="container">
        <a ui-sref="hip-hop">
            <div class="col-md-4 hip dance">
                <h1>Hip-Hop</h1>
                <img class="invisible" src="../img/hiphop.gif">
            </div>
        </a>
        <a ui-sref="break">
            <div class="col-md-4 break dance">
                <h1>Breaking</h1>
                <img class="invisible" src="../img/breaking.gif">
            </div>
        </a>
        <a ui-sref="swing">
            <div class="col-md-4 swing dance">
                <h1>Swing</h1>
                <img class="invisible" src="../img/swing.gif">
            </div>
        </a>
    </div>

</div>
