<div class="container">
	<div id="categoryList">

		<div id="popular">
			<div class="container">
				<img href="img/temp.png">
			</div>
		</div>

		<div id="ballet">
			<div class="container">
				<img href="img/temp.png">
			</div>
		</div>

<!-- 		<div id="breaking">
			<div class="container">
			</div>
		</div>

		<div id="choreography">
			<div class="container">
			</div>
		</div>

		<div id="contemporary">
			<div class="container">
			</div>
		</div>

		<div id="cultural">
			<div class="container">
			</div>
		</div>

		<div id="hiphop">
			<div class="container">
			</div>
		</div>

		<div id="popping">
			<div class="container">
			</div>
		</div> -->


	</div>
</div>