
<div class="move container-fluid">
    <div controller="MoveCtrl">
        <div class="backlink">
            <a href="#/{{dances.style}}" ui-sref="{{dances.style}}"> back to {{dances.style}}</a>
        </div>
        <h1>{{dances.name}}</h1>
        <p>{{dances.description}}</p>
        <p><a href="{{dances.video}}">Here</a> is an instructional video</p>
        <div class="embed-responsive embed-responsive-16by9">
            <youtube-video class="embed-responsive-item" video-url="dances.video"></youtube-video>
        </div>
    </div>
</div>