
<div class="category" id="hip-hop">
		<h1>Hip-Hop</h1>
		<img src="./img/hip-hop.gif" class="gif">
		<br>
		<br>
		<form>
			<label for="search"><i class="fa fa-search"></i></label>
			<input ng-model="query" class="search" name="search" id="search" placeholder="Search">
		</form>
		<br>
		<div class="container">
			<div id="items" controller="DanceCtrl">
				<div class="row">
					<div ng-repeat="dance in dances | filter: { style: 'hip-hop'} | filter:query">
						<div class="col-sm-4">
							<!-- <iframe width="480" height="390" src="{{dance.video}}" frameborder="0" allowfullscreen></iframe> -->
							<a ui-sref="dance({id: '{{dance.id}}'})"><p>{{dance.name}}</p></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>