<div class="container" id="main">
    <div id="trending" class="container">
        <h1>Trending Videos</h1>
        <div class="row">
            <div class="col-sm-6">
                <h4>The Dougie</h4>
                <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/g-OwDRTPNOQ" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-sm-6">
                <h4>The Whip</h4>
                <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tgEgCEx57o8" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-sm-6">
                <h4>The Nae Nae</h4>
                <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/z99ckWc2uq8" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-sm-6">
                <h4>Popping And Locking</h4>
                <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Xej9jh5ct88" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
      </div>
    </div>

    <div id="explore" class="container">
        <h1>Explore Videos</h1>
            <div class="row">
            <div class="col-sm-6">
                <h4>The Robocop</h4>
                <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/yx8teFizHAo" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-sm-6">
                <h4>The Running Man</h4>
                <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iHnoKwWj0Ps" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-sm-6">
                <h4>The Charleston</h4>
                <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fQSY-2VtBvg" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-sm-6">
                <h4>The Lindy Hop</h4>
                <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LsuE7gfH9_0" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-sm-6">
                <h4>The Shorty George</h4>
                <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fAcBBxrpx-4" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-sm-6">
                <h4>The Arm Wave</h4>
                <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vB8tLNxahTM" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
      </div>

    </div>

    <div id="categories" class="container">
       <h1>Categories</h1>
        <br>
        <a ui-sref="hip-hop">
            <div class="col-md-4 hip dance">
                <h1>Hip-Hop</h1>
                <img class="invisible" src="../img/hip-hop.gif">
            </div>
        </a>
        <a ui-sref="break">
            <div class="col-md-4 break dance">
                <h1>Breaking</h1>
                <img class="invisible" src="../img/breaking.gif">
            </div>
        </a>
        <a ui-sref="swing">
            <div class="col-md-4 swing dance">
                <h1>Swing</h1>
                <img class="invisible" src="../img/swing.gif">
            </div>
        </a>
    </div>
    <br>
    <br>
</div>
