@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);

body {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    background-image: url("../img/ginger.jpg");
    background-color: blue;
    text-align: center;
}

#category {
	background: rgba(72,133,186,1);
	color: white;
}

#items img {
	width: 250px;
	height: 130px;
}